.note-card{
    margin: 10px 20px;
    padding: 10px 40px;
    border: none;
    background-color: #e1f0ff;
    border-radius: 10px;
    position: relative;
}
.note-card:hover{
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.274);
    background-color: #e1f0ff;
}
.note-card-title{
    color: #003f76;
    font-size: 25px;
    font-weight: 900;
    
}
.note-card-note{
    font-size: 18px;
    width: 80%;
    font-weight: 600;
    color: #0059fd;
    border-radius: 10px;
}
.note-card-date{
    position: absolute;
    bottom: 10px;
    right: 40px;
    text-align: end;
    background-color: #058aff;
    color: white;
    padding: 5px 30px;
    border-radius: 15px;
}

.delete-icon{
    background-color: #003f76;
    padding: 5px 15px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    right: 40px;
    border-radius: 40px;
    top: 20px;
}
.edit-icon{
    padding: 5px 15px;
    position: absolute;
    cursor: pointer;
    right: 100px;
    top: 20px;
    height: 20px;
    background-color: #003f76;
    border-radius: 40px;
}
