.form-body{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #b3dbff;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.344);
}
.title-input{
    width: 95%;
    padding: 10px;
    margin: 30px auto;
    font-size: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
}

.note-input{
    width: 95%;
    padding: 10px;
    margin: 20px auto;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    height: 60px;
    box-sizing: border-box;
    resize: none; 
    overflow-y: auto;
}

.date-input{
    width: 40%;
    margin-left: 56%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.add-note-btn{
    border: none;
    padding: 10px 25px;
    display: block;
    margin: 10px auto;
    margin-top: 50px;
    background-color: #0088ff;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

}

.btn-to-home{
    background-color: #058aff;
    padding: 10px 20px;
    border: none;
    margin: 20px auto;
    margin-left: 80%;
    border-radius: 20px;
    
}

.link-to-home{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    
}